body {
    background-color: #000000;
    /* background-color: #FFFFFF; */
    position: absolute;
    top: 50%;
    left: 47%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

p {
	/* color: #434359; */
	color: #b0b0b0;
	font: 12px "Jackeyfont";
}

pre {
	color: #b0b0b0;
	/*color: #434359; */
    /* color: #2f2f2f; */
	font: 16px "HaxrCorp 4089 Cyrillic AltGr";
	display: inline;
}

a {
	font: 16px "HaxrCorp 4089 Cyrillic AltGr";
	text-decoration: none;
	color: #ead1dc
      /* color: #434359; */
}

ul {
	padding-left: 40px;
}

form {
	padding-left: 40px;
}

.div-1 {
  width: 50%;
  height: 50%;
  position: absolute;
	left: 150%;
	top: -50%;
}

input:focus { 
    outline: none !important;
    border-color: #272727;

}

img {
	position: absolute;
	bottom: 10%;
	left: 115%;
	/* filter: grayscale(100%); */
}

.tfsearch {
	font: 16px "HaxrCorp 4089 Cyrillic AltGr";
}

input {
	font: 16px "HaxrCorp 4089 Cyrillic AltGr";
	color: #b0b0b0;
	background-color: #1b1b1b;
	border-color: #272727;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
